.ads-panel{

height:250px;

display:grid;

grid-template-columns:320px 1fr 280px;

gap:20px;

padding:20px;

background:#111;

border-top:2px solid #333;

}

.ads-card{

height:100%;

border-radius:18px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

color:white;

}

.ads-card h2{

font-size:30px;

margin-bottom:15px;

}

.ads-card h3{

font-size:24px;

}

.verde{

background:#0f7f39;

}

.azul{

background:#1557d6;

}

.rojo{

background:#b91c1c;

}

.amarillo{

background:#b8860b;

}

.ads-right{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:18px;

}

.qr{

width:160px;

height:160px;

background:white;

color:black;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

font-weight:bold;

border-radius:12px;

}
