@media(max-width:1600px){

.brand h1{

font-size:36px;

}

.result-number{

font-size:32px;

}

.ads-panel{

grid-template-columns:260px 1fr 220px;

}

}

@media(max-width:1200px){

.principal{

grid-template-columns:1fr;

overflow:auto;

}

.ads-panel{

grid-template-columns:1fr;

height:auto;

}

.header{

height:auto;

}

.header-top{

flex-direction:column;

gap:20px;

}

.header-status{

flex-wrap:wrap;

justify-content:center;

}

}
